html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px;
    border-radius: 5px;
    margin: 2px;
}
.calculator{
    height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.father{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}
#display{
    height: 40px;
    padding: 5px;
    background-color: darkslategray;
    margin: 6px;
    font-size:50px;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    align-items: center;
    border-radius: 10px;
}
.separacion{
    display: flex;
    gap: 10px;
}
.numbers{
    display: flex;
    flex-direction: column;
}
.numbers button{
/* flex: 1; */
background-color: aqua;
height: 50px;
width: 50px;
}
.operators{
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}
.operators button{
    background-color: darkgoldenrod;
}